{% extends 'backoffice.html.twig' %}

{% block title %}Liste des fonds{% endblock %}

{% block body %}
    <div class="pageheader">
        <h3><i class="fa fa-home"></i>  Gestion des fonds</h3>
        <div class="breadcrumb-wrapper">
            <span class="label"></span>
            <ol class="breadcrumb">
                <li><a href="#">Accueil</a></li>
                <li class="active">fonds</li>
            </ol>
        </div>
    </div>

    <div id="page-content">

        <br>
        <!-- Message -->
        {% for flash_message in app.session.flashBag.get('notice') %}
            {% if flash_message %}
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
                        <div class="alert alert-info media fade in">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <div class="media-left">
                <span class="icon-wrap icon-wrap-xs icon-circle alert-icon">
                  <i class="fa fa-check fa-lg"></i>
                </span>
                            </div>
                            <div class="media-body">
                                <p></p>
                                <h4 class="alert-title" style="color: green">
                                    {{ flash_message }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <!-- \Message -->
        <br>

        <div class="row">
            <div class="col-sm-12 col-sm-offset-0">
                <div class="panel">
                    <div class="btn-toolbar pad-all">
                        <div class="btn-group">
                            <a href="{{ path('admin_fonds_new') }}">
                                <button class="btn btn-sm btn-default" type="button">
                                    <i class="fa fa-plus"></i> Ajouter un document
                                </button>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a href="{{ path('admin_fonds_edit', {'id': fond.id}) }}">
                                <button class="btn btn-sm btn-primary" type="button">
                                    <i class="fa fa-edit"></i> Modifier le document
                                </button>
                            </a>
                        </div>
                        <div class="btn-group">
                            <a href="{{ path('admin_fonds_index') }}">
                                <button class="btn btn-sm btn-success" type="button">
                                    <i class="fa fa-edit"></i> Liste des documents
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <div class="panel-body">
                            <div class="col-md-12">
                                <div class="view-mail text-center">
                                    <embed src="{{ absolute_url(asset('uploads/fonds/'~ fond.imageName)) }}" width="800px" height="1200" type="application/pdf">
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
