<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}BACKOFFICE: ASCCI{% endblock %}
    </title>
    <link rel="shortcut icon" href="{{ asset('backoffice/img/favicon.ico')}}">
    {% block stylesheets %}
      <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,700" rel="stylesheet">
      <link href="{{ asset('backoffice/css/bootstrap.min.css')}}" rel="stylesheet">
      <link href="{{ asset('backoffice/css/style.css')}}" rel="stylesheet">
      <link href="{{ asset('backoffice/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
      <link href="{{ asset('backoffice/plugins/switchery/switchery.min.css')}}" rel="stylesheet">
      <link href="{{ asset('backoffice/plugins/bootstrap-select/bootstrap-select.min.css')}}" rel="stylesheet">
      <link href="{{ asset('backoffice/plugins/pace/pace.min.css')}}" rel="stylesheet">
      <script src="{{ asset('backoffice/plugins/pace/pace.min.js')}}"></script>
      <style media="screen">
        .img-page {
          padding-right: 10px;
          margin-right: 15px;
          float: left;
        }
      </style>
    {% endblock %}

  </head>
  <body>
    <div id="container" class="effect mainnav-lg navbar-fixed mainnav-fixed">
      <header id="navbar">
        <div id="navbar-container" class="boxed">
          <!--Brand logo & name-->
          <!--================================-->
          <div class="navbar-header">
            <a href="#" class="navbar-brand">
              <img src="{{ asset('backoffice/img/favicon.ico')}}" width="45" style="float: left;">
              <div class="brand-title">
                <span class="brand-text">ASCCI</span>
              </div>
            </a>
          </div>
          <!--================================-->
          <!--End brand logo & name-->
          <!--Navbar Dropdown-->
          <!--================================-->
          <div class="navbar-content clearfix">
            <ul class="nav navbar-top-links pull-left">
              <!--Navigation toogle button-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <li class="tgl-menu-btn">
                <a class="mainnav-toggle" href="#">
                  <i class="fa fa-navicon fa-lg"></i>
                </a>
              </li>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End Navigation toogle button-->
              <!--Profile toogle button-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End notifications dropdown-->
            </ul>
            <ul class="nav navbar-top-links pull-right">
              <!--Fullscreen toogle button-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <li class="hidden-xs" id="toggleFullscreen">
                <a class="fa fa-expand" data-toggle="fullscreen" href="#" role="button">
                  <span class="sr-only">Toggle fullscreen</span>
                </a>
              </li>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End Fullscreen toogle button-->
              <!--User dropdown-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <li id="dropdown-user" class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                  <span class="pull-right">
                    <img class="backoffice/img-circle img-user media-object" src="{{ asset('backoffice/img/avatar.png')}}" alt="Profile Picture">
                  </span>
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="username hidden-xs">
                      {{ 'layout.user'|trans({'%username%': app.user.username}, 'FOSUserBundle')|title }}
                    </div>
                  {% else %}
                    <div class="username hidden-xs">
                      <a href="{{ path('fos_user_security_login') }}" title="Connecte-toi" style="color: white;"></a>
                    </div>
                  {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right with-arrow">
                  <!-- User dropdown menu -->
                  <ul class="head-list">
                    <li>
                      <a href="#">
                        <i class="fa fa-cog fa-fw"></i>
                        Changer mot de passe
                      </a>
                    </li>
                    <li>
                      <a href="{{ path('fos_user_security_logout')}}">
                        <i class="fa fa-sign-out fa-fw"></i>
                        Deconnexion
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
              <!--End user dropdown-->
              <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            </ul>
          </div>
          <!--================================-->
          <!--End Navbar Dropdown-->
        </div>
      </header>
      <!--===================================================-->
      <!--END NAVBAR-->
      <div class="boxed">
        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
          <!--Page Title-->

          {% block body %}{% endblock %}
        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->
        <!--MAIN NAVIGATION-->
        <!--===================================================-->
        <nav id="mainnav-container">
          <div id="mainnav">
            <!--Menu-->
            <!--================================-->
            <div id="mainnav-menu-wrap">
              <div class="nano">
                <div class="nano-content">
                  <ul id="mainnav-menu" class="list-group">
                    <!--Category name-->
                    <li class="list-header">Accueil</li>
                    <!--Menu list item-->
                    <li>
                      <a href="#">
                        <i class="fa fa-flask"></i>
                        <span class="menu-title">
                          Tableau de bord
                        </span>
                      </a>
                    </li>
                    <!-- Block Evenementiel-->
                    {% if is_granted("ROLE_ADMIN") %}
                      <li class="list-header">Evenementiels</li>
                      <li>
                        <a href="{{ path('admin_information_index')}}">
                          <i class="fa fa-newspaper-o"></i>
                          <span class="menu-title">
                          Informations
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_message_index')}}">
                          <i class="fa fa-newspaper-o"></i>
                          <span class="menu-title">
                          Message du national
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_actualite_index')}}">
                          <i class="fa fa-newspaper-o"></i>
                          <span class="menu-title">
                          La nationale
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_regionale_index')}}">
                          <i class="fa fa-newspaper-o"></i>
                          <span class="menu-title">
                          La regionale
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_internationale_index')}}">
                          <i class="fa fa-newspaper-o"></i>
                          <span class="menu-title">
                          L'internationale
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_actucamp_index')}}">
                          <i class="fa fa-newspaper-o"></i>
                          <span class="menu-title">
                          Actu camp <span class="badge badge-danger" style="font-size: 7px;"></span>
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_slider_index')}}">
                          <i class="fa fa-file-picture-o"></i>
                          <span class="menu-title">
                          Sliders
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_publicite_index')}}">
                          <i class="fa fa-file-picture-o"></i>
                          <span class="menu-title">
                          Publicite
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_video_index')}}">
                          <i class="fa fa-file-video-o"></i>
                          <span class="menu-title">
                          Vidéo
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_radio_index')}}">
                          <i class="fa fa-microphone"></i>
                          <span class="menu-title">
                          Radio <span class="badge badge-danger" style="font-size: 7px;"></span>
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_galerie_index')}}">
                          <i class="fa fa-file-video-o"></i>
                          <span class="menu-title">
                          Galerie photos
                        </span>
                        </a>
                      </li>
                      <li class="list-divider"></li>
                    {% endif %}
                    <!-- Block Evenemetiel -->


                    <!-- Block rubrique -->
                    {% if is_granted("ROLE_ADMIN") %}
                      <li class="list-header">Rubriques</li>
                      <li>
                        <a href="{{ path('admin_presentation_index')}}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Qui sommes-nous?
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_pedagogie_index')}}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Pédagogie
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_adulte_index')}}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Ressources adultes
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_departement2_index')}}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Département
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_equipe_index')}}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Equipe nationale
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_couverture_index')}}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Couverture
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_contact_index')}}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Contact  <!--<span class="badge badge-danger" style="font-size: 7px;">Nveau</span>-->
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_rassemblement_index')}}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Rassemblement
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_partenaire_index')}}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Partenaires
                        </span>
                        </a>
                      </li>
                      <li class="list-divider"></li>
                    {% endif %}
                    <!-- \Block Rubrique -->


                    <!-- Block region -->
                    {% if is_granted("ROLE_ADMIN") %}
                      <li class="list-header">Régions</li>
                      <li>
                        <a href="{{ path('admin_regionpresentation_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                            Présentation
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                            Equipe régionale
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                            District
                          </span>
                        </a>
                      </li>
                      <li class="list-divider"></li>
                    {% endif %}
                    <!-- \Block region -->


                      {% if is_granted("ROLE_BOUTIQUE") %}
                        <li class="list-header">Boutique</li>
                        <li>
                          <a href="{{ path('admin_categorie_index') }}">
                            <i class="fa fa-file-o"></i>
                            <span class="menu-title">
                          Categorie <span class="badge badge-danger" style="font-size: 7px;">MAJ</span>
                        </span>
                          </a>
                        </li>
                        <li>
                          <a href="{{ path('admin_produit_index') }}">
                            <i class="fa fa-file-o"></i>
                            <span class="menu-title">
                          Produit <span class="badge badge-danger" style="font-size: 7px;">MAJ</span>
                        </span>
                          </a>
                        </li>
                        <li class="list-divider"></li>
                      {% endif %}

                    <!-- Block Parametrage -->
                    {% if is_granted("ROLE_ADMIN") %}
                      <li class="list-header">Parametrage</li>
                      <li>
                        <a href="{{ path('admin_maintenance_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Maintenance <span class="badge badge-danger" style="font-size: 7px;">MAJ</span>
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_blockcamp_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Bloc Camps <span class="badge badge-danger" style="font-size: 7px;"></span>
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_facebook_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Accueil facebook <span class="badge badge-danger" style="font-size: 7px;"></span>
                        </span>
                        </a>
                      </li>
                      <li class="list-divider"></li>
                    {% endif %}
                    <!-- \Block Parametrage -->

                    <!--Block administrateur-->
                    {% if is_granted("ROLE_ADMIN") %}
                      <li class="list-header">Administrateur</li>
                      <li>
                        <a href="{{ path('admin_typresentation_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Types présentation
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_typactualite_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Type national
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_typinfos_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Types infos
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_branche_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Branches
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_chef_index') }}">
                          <i class="fa fa-users"></i>
                          <span class="menu-title">
                          Chefs
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_departement_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Type de departement
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_typefonction_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Type fonction
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_typenvol_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Type d'envol
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_typerassemblement_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Type de rassemblement
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="{{ path('admin_region_index') }}">
                          <i class="fa fa-file-o"></i>
                          <span class="menu-title">
                          Regions
                        </span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-lock"></i>
                          <span class="menu-title">
                          Sécurité
                        </span>
                        </a>
                        <!--Submenu-->
                        <ul class="collapse">
                          <li>
                            <a href="{{ absolute_url(path('admin_user_index')) }}">
                              <i class="fa fa-caret-right"></i>Utilisateurs</a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fa fa-caret-right"></i>Gestionnaires</a>
                          </li>
                        </ul>
                      </li>
                    {% endif %}
                    <!-- Block administrateur -->
                  </ul>
                  <!--Widget-->
                  <div class="mainnav-widget">
                    <div class="show-small">
                      <a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
                        <i class="fa fa-desktop"></i>
                      </a>
                    </div>
                  </div>
                  <!--End widget-->
                </div>
              </div>
            </div>
            <!--End menu-->
          </div>
        </nav>
        <!--END MAIN NAVIGATION-->
      </div>
      <!-- FOOTER -->
      <footer id="footer">

        <p class="pad-lft">&#0169; 2017
          <span class="hidden-xs">BackOffice |<span style="padding-left:25px; font-size: 0.8em">Powered by</span>
            <a href="http://scoutascci.org/departement/communication" title="" style="padding-left: 5px;" target="_blank">CENACOM</a>
          </span>
          <span class="hidden-sm hidden-md hidden-lg">
            <a href="http://www;esthetelab.com/" title="" style="font-size: 0.8em; padding-left: 25px;" target="_blank">ESTHETE</a>
          </span>
        </p>
      </footer>
      <button id="scroll-top" class="btn">
        <i class="fa fa-chevron-up"></i>
      </button>
    </div>
    {% block javascripts %}
      <script src="{{ asset('backoffice/js/jquery-2.1.1.min.js')}}"></script>
      <script src="{{ asset('backoffice/js/bootstrap.min.js')}}"></script>
      <script src="{{ asset('backoffice/plugins/fast-click/fastclick.min.js')}}"></script>
      <script src="{{ asset('backoffice/js/scripts.js')}}"></script>
      <script src="{{ asset('backoffice/plugins/nanoscrollerjs/jquery.nanoscroller.min.js')}}"></script>
      <script src="{{ asset('backoffice/plugins/metismenu/metismenu.min.js')}}"></script>
      <script src="{{ asset('backoffice/plugins/switchery/switchery.min.js')}}"></script>
      <script src="{{ asset('backoffice/plugins/bootstrap-select/bootstrap-select.min.js')}}"></script>
      <script src="{{ asset('backoffice/plugins/screenfull/screenfull.js')}}"></script>
    {% endblock %}

  </body>

</html>
