{% extends 'base.html.twig' %}

{% block body %}
    <h1>Maintenance</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ maintenance.id }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ maintenance.datefin }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if maintenance.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ maintenance.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ maintenance.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ maintenance.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ maintenance.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_maintenance_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_maintenance_edit', { 'id': maintenance.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
