{% extends "base.html.twig" %}

{% block title %}
    Notre boutique
{% endblock %}

{% block body %}
    <div class="col col_12_of_12">

        <!--<h1 class="page_title">Boutique scoute</h1>-->
        <div class="row" style="margin-bottom: 100px;">
            <div class="col">
                {% if (brand) %}
                    <img src="{{ absolute_url(asset('uploads/boutique/'~ brand.imageName) | imagine_filter('boutique_brand')) }}" alt="Boutique scoute">
                {% else %}
                    <img src="{{ absolute_url(asset('ressources/images/brand.jpg')) }}" alt="boutique scoute">
                {% endif %}
            </div>
        </div>
        <form class="woocommerce-ordering" method="get" action="{{ absolute_url(path('boutique_categorie')) }}">
            <select name="categorie" class="orderby" onchange='this.form.submit()'>
                <option value="0">-- Selectionez la categorie --</option>
                <option value="0"> Tous les produits </option>
                {% for categorie in categories %}
                    <option value="{{ categorie.slug }}">{{ categorie.libelle }}</option>
                {% endfor %}
            </select>
        </form>
        <ul class="products clearfix">
            {% for produit in produits %}
                {% if loop.index % 4 %}
                    <li class="product">
                        <div class="item_thumb">
                            <div class="thumb_icon">
                                <a href="{{ absolute_url(path('boutique_article', {'categorie': produit.categorie.slug, 'slug': produit.slug})) }}"><i class="fa fa-copy"></i></a>
                            </div>
                            <div class="thumb_hover">
                                <a href="{{ absolute_url(path('boutique_article', {'categorie': produit.categorie.slug, 'slug': produit.slug})) }}"><img src="{{ absolute_url(asset('uploads/boutique/'~ produit.imageName) | imagine_filter('boutique')) }}" alt="Post"></a>
                            </div>
                        </div>
                        <div class="info">

                    <span class="price">
                    <ins><span class="amount">{{ produit.prix }} FCFA</span></ins>
                </span>
                        </div>
                        <a href="{{ absolute_url(path('boutique_article', {'categorie': produit.categorie.slug, 'slug': produit.slug})) }}" class="btn">{{ produit.libelle }}</a>
                    </li>
                {% else %}
                    <li class="product last">
                        <div class="item_thumb">
                            <div class="thumb_icon">
                                <a href="{{ absolute_url(path('boutique_article', {'categorie': produit.categorie.slug, 'slug': produit.slug})) }}"><i class="fa fa-copy"></i></a>
                            </div>
                            <div class="thumb_hover">
                                <a href="{{ absolute_url(path('boutique_article', {'categorie': produit.categorie.slug, 'slug': produit.slug})) }}"><img src="{{ absolute_url(asset('uploads/boutique/'~ produit.imageName) | imagine_filter('boutique')) }}" alt="Post"></a>
                            </div>
                        </div>
                        <div class="info">

                    <span class="price">
                    <ins><span class="amount">{{ produit.prix }} FCFA</span></ins>
                </span>
                        </div>
                        <a href="{{ absolute_url(path('boutique_article', {'categorie': produit.categorie.slug, 'slug': produit.slug})) }}" class="btn">{{ produit.libelle }}</a>
                    </li>
                {% endif %}
            {% else %}
                <h3 style="font-style:italic; text-align: center; color: #bb0000">Il n'y a aucun produit enregistré dans cette catégorie</h3>
            {% endfor %}
        </ul>
        <!--<ul class="page-numbers">
            <li><span class="page-numbers current">1</span></li>
            <li><a class="page-numbers" href="#">2</a></li>
            <li><a class="page-numbers" href="#">3</a></li>
            <li><a class="page-numbers" href="#">4</a></li>
        </ul>-->
    </div>

{% endblock %}
