{% extends 'base.html.twig' %}

{% block title %}{{ info.titre }}{% endblock %}


{% block body %}
<article class="post">


						<div class="ariane_wrapper">

							<div class="ariane">
								<span><i class="fa fa-home"></i> <a href="{{ path('homepage')}}">Accueil</a></span>&nbsp; / 
								<a href="#">Informations</a> /
								<a href="#">{{ info.typinfo.libelle }}</a>
							</div>
						</div>

						<div class="entry_media">
							<a href="{{ asset('uploads/informations/'~ info.imageName) | imagine_filter('page') }}" class="popup_link">
                                <img src="{{ asset('uploads/informations/'~ info.imageName) | imagine_filter('page') }}" alt="{{ info.titre }}" title="{{ info.titre }}">
                            </a>
						</div>

						<div class="full_meta clearfix">
							<span class="meta_format"><i class="fa fa-file-text"></i></span>
							<span class="meta_date">{{ info.typinfo.libelle }}  {{ info.datedeb|date('d-m-Y') }} </span>
							
						</div>

						<div class="entry_content">
							 <h1 class="entry_title">{{ info.titre }}</h1>
								<p class="dropcap alignJustify">{{ info.contenu|raw }}</p>
								
						</div>

						<div class="bottom_wrapper">

							<div class="entry_tags">
								<span><i class="fa fa-tags"></i> Mots clés</span>
                                {% for tag in info.tag|split(',') %}
                                <a href="#">{{ tag }}</a>
                                {% endfor %}
							</div>
						</div>

					</article>


	<div class="row" >
		<div class="post-share" style="margin-bottom: 75px; margin-top: 50px">
			<div class="kd-sharing-post-social">
				<div class="fb-like" data-href="http://www.scoutascci.org{{ path('fo_information_breve', {'slug': info.slug})}}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
				<div class="fb-share-button" data-href="http://www.scoutascci.org{{ path('fo_information_breve', {'slug': info.slug})}}" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>

			</div>
		</div>
	</div>

	<div class="row">
		<div style="margin-bottom: 30px;">
			<div class="fb-comments" data-href="http://scoutascci.org{{ path('fo_information_breve', {'slug': info.slug})}}" data-width="750" data-numposts="5"></div>
		</div>
	</div>



	<div class="panel_title">
						<div>
						<h4><a href="#">Autres informations</a></h4>
						</div>
					</div>
					<div class="row">
						{% for similaire in similaires %}
                            <div class="col col_4_of_12">

							<div class="layout_post_1">
								<div class="item_thumb">
									<div class="thumb_icon">
										<a href="{{ path('fo_information_breve', {'slug': similaire.slug})}}" style="background-color: #F89406"><i class="fa fa-copy"></i></a>
									</div>
									<div class="thumb_hover">
										<a href="{{ path('fo_information_breve', {'slug': similaire.slug})}}"><img src="{{ asset('uploads/informations/'~ similaire.imageName) | imagine_filter('similaire') }}" alt="{{ similaire.titre}}" class="visible animated"></a>
									</div>
									<div class="thumb_meta">
									<span class="category" style="background-color: #{{ similaire.typinfo.couleur }}"><a href="#">{{ similaire.typinfo.libelle }}</a></span>
									</div>
								</div>
								<div class="item_content">
									<h4><a href="{{ path('fo_information_breve', {'slug': similaire.slug})}}">{{ similaire.titre }}</a></h4>
									<div class="item_meta clearfix">
										<span class="meta_date">{{ similaire.datedeb|date('d-m-Y') }}</span>
									</div>
									<p>{{ similaire.resume|raw }} [...]</p>
								</div>
							</div>
						</div>
                        {% endfor %}
					</div>

					<!--<div id="comments">
						<div class="panel_title">
							<div>
								<h4><a href="blog.html">Commentaires</a></h4>
							</div>
						</div>
					</div>-->
{% endblock %}

{% block accueil %}{% endblock %}

{% block meta %}
        <meta name="keywords" content="{% for tag in info.tag|split(',') %}{{ tag }}, {% endfor %}"  />
        <meta name="description" content="{{ info.resume|raw }}" />
  	    <meta name="revisit" content="7 days" />
  	    <meta name="revisit-after" content="7 days">
  	    <meta name="Author" content="ASCCI-CENACOM, {{ info.publiePar|title }}">
  	    <meta name="Copyright" content="www.scoutascci.org">
  	    <meta name="Content-Language" content="FR">
  	    <meta name="distribution" content="global" />
  	    <meta name="Audience" content="All" />
  	    <meta name="Robots" content="full">

        <link rel="canonical" href="http://scoutascci.org{{ path('fo_information_breve', {'slug': info.slug})}}" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:type" content="Item" />
        <meta property="og:title" content="{{ info.titre }}" />
        <meta property="og:description" content="{{ info.resume|raw }} " />
        <meta property="og:url" content="http://scoutascci.org{{ path('fo_information_breve', {'slug': info.slug})}}" />
        <meta property="og:site_name" content="ASCCI" />
        <meta property="article:section" content="Item" />
        <meta property="article:published_time" content="{{ info.publieLe|date('Y-m-d')}}T{{ info.publieLe|date('H:i:s')}}+00:00" />
        <meta property="article:modified_time" content="{{ info.modifieLe|date('Y-m-d')}}T{{ info.modifieLe|date('H:i:s')}}+00:00" />
        <meta property="og:updated_time" content="{{ info.modifieLe|date('Y-m-d')}}T{{ info.modifieLe|date('H:i:s')}}+00:00" />
        <meta property="og:image" content="http://scoutascci.org{{ vich_uploader_asset(info, 'imageFile') }}" />
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description" content="{{ info.resume|raw }}"/>
        <meta name="twitter:title" content="{{ info.titre }}"/>
        <meta name="twitter:domain" content="ASCCI"/>
        <meta name="twitter:image:src" content="http://scoutascci.org{{ vich_uploader_asset(info, 'imageFile') }}"/>
        <script type="application/ld+json">
    		{
    		  "@context": "http://schema.org",
    		  "@type": "NewsArticle",
    		  "mainEntityOfPage": {
    		    "@type": "WebPage",
    		    "@id": "https://scoutascci.org"
    		  },
    		  "headline": "{{ info.titre }}",
    		  "image": [
    		    "http://scoutascci.org{{ vich_uploader_asset(info, 'imageFile') }}",
    		    "http://scoutascci.org/ressources/images/logo2.png"
    		   ],
    		  "datePublished": "{{ info.publieLe|date('Y-m-d')}}T{{ info.publieLe|date('H:i:s')}}+00:00",
    		  "dateModified": "{{ info.modifieLe|date('Y-m-d')}}T{{ info.modifieLe|date('H:i:s')}}+00:00",
    		  "author": {
    		    "@type": "Person",
    		    "name": "Delrodie AMOIKON"
    		  },
    		   "publisher": {
    		    "@type": "Organization",
    		    "name": "{{ info.titre }}",
    		    "logo": {
    		      "@type": "ImageObject",
    		      "url": "http://scoutascci.org{{ vich_uploader_asset(info, 'imageFile') }}"
    		    }
    		  },
    		  "description": "{{ info.resume|raw }}"
    		}
    		</script>
        {% endblock %}