{% extends 'base.html.twig' %}

{% block body %}
    <h1>Typinfo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typinfo.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ typinfo.libelle }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ typinfo.couleur }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if typinfo.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ typinfo.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ typinfo.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ typinfo.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ typinfo.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ typinfo.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_typinfos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_typinfos_edit', { 'id': typinfo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
