{% extends 'base.html.twig' %}

{% block body %}
    <h1>Facebook</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facebook.id }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ facebook.taille }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ facebook.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ facebook.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ facebook.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ facebook.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_facebook_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_facebook_edit', { 'id': facebook.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
