{% extends 'base.html.twig' %}

{% block body %}
    <h1>Departement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ departement.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ departement.libelle }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ departement.couleur }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if departement.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ departement.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ departement.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ departement.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ departement.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ departement.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_departement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_departement_edit', { 'id': departement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
