{% extends 'base.html.twig' %}

{% block body %}
    <h1>Slider</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slider.id }}</td>
            </tr>
            <tr>
                <th>Type1</th>
                <td>{{ slider.type1 }}</td>
            </tr>
            <tr>
                <th>Type2</th>
                <td>{{ slider.type2 }}</td>
            </tr>
            <tr>
                <th>Legende</th>
                <td>{{ slider.legende }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ slider.datedebut }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ slider.datefin }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if slider.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Imagename</th>
                <td>{{ slider.imageName }}</td>
            </tr>
            <tr>
                <th>Imagesize</th>
                <td>{{ slider.imageSize }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if slider.updatedAt %}{{ slider.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ slider.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ slider.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ slider.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ slider.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ slider.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_slider_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_slider_edit', { 'id': slider.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
