{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
  <h1>Connexion</h1>
		<div class="col col_2_of_12">
			.
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
		</div>
		<div class="col col_5_of_12">
			{% block fos_user_content %}
      {% endblock fos_user_content %}
		</div>
{% endblock %}
