{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blockcamp</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blockCamp.id }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{% if blockCamp.enabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ blockCamp.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ blockCamp.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ blockCamp.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ blockCamp.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_blockcamp_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_blockcamp_edit', { 'id': blockCamp.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
