{% extends 'backoffice.html.twig' %}

{% block title %}Liste des publicites{% endblock %}

{% block body %}
<div class="pageheader">
  <h3><i class="fa fa-home"></i>  Gestion des publicites</h3>
  <div class="breadcrumb-wrapper">
    <span class="label"></span>
    <ol class="breadcrumb">
      <li><a href="#">Accueil</a></li>
      <li class="active">publicite</li>
    </ol>
  </div>
</div>

<div id="page-content">

  <br>
    <!-- Message -->
      {% for flash_message in app.session.flashBag.get('notice') %}
        {% if flash_message %}
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
            <div class="alert alert-info media fade in">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
              <div class="media-left">
                <span class="icon-wrap icon-wrap-xs icon-circle alert-icon">
                  <i class="fa fa-check fa-lg"></i>
                </span>
              </div>
              <div class="media-body">
                <p></p>
                  <h4 class="alert-title" style="color: green">
                    {{ flash_message }}
                  </h4>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      <!-- \Message -->
      <br>

  <div class="row">
    <div class="col-sm-12 col-sm-offset-0">
      <div class="panel">
        <div class="btn-toolbar pad-all">
          <div class="btn-group">
            <a href="{{ path('admin_publicite_new') }}">
            <button class="btn btn-sm btn-default" type="button">
              <i class="fa fa-plus"></i> Ajouter une nouvelle publicite
            </button>
            </a>
          </div>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            {% for publicite in publicites %}
            <div class="row" style="margin-bottom: 20px; padding-bottom: 25px; border-bottom: solid 1px #ccc;">
              <div class="col-md-3">
                <div class="view-mail text-justify">
                  <a href="{{ path('admin_publicite_edit', {'slug': publicite.slug})}}">
                    <img src="{{ vich_uploader_asset(publicite, 'imageFile') }}" alt="{{ publicite.titre }}" class="img-thumbnail img-page" />
                  </a>
                </div>
              </div>
              <div class="col-md-5">
                {{ publicite.titre }}
              </div>
              <div class="col-md-4">
                <u>Publication </u> : du <strong>{{ publicite.datedeb }}</strong> au <strong>{{ publicite.datefin }}</strong>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}
